.bg {
  width: 100%;
  height: 100vh;
  z-index: -35;
  background-color: #faf8f8;
}
.profile_dis {
  z-index: -111;
}
.profile_datas {
  position: relative;
  max-width: 1000px;
  z-index: 0;
  top: 5rem;
  display: flex;
  margin: 0 auto;
}
.profile_d {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.profile_owner_img {
  width: 8em;
  height: 8em;
  border-radius: 50%;
  object-fit: cover;
}
.row_0 {
  display: flex;
  flex-direction: column;
}
.links_p {
  display: flex;
  align-items: center;
}
.edit_profile {
  text-decoration: none;
  color: black;
  margin-left: 2em;
  border: 1px solid lightgray;
  padding: 0.5em 0.8em;
  font-weight: bold;
  font-size: 0.8em;
  border-radius: 4px;
}
.settings_profile {
  text-decoration: none;
  color: rgb(36, 36, 36);
  margin-left: 2em;
  font-size: 1em;
}
.row_2 {
  display: flex;
}
.profile_name_user {
  margin-left: 0;
  font-weight: 300;
  font-size: 1.5em;
}
.post_length {
  margin-left: 0;
  font-weight: 300;
  font-size: 1em;
}
.followers_length,
.following_length {
  margin-left: 2em;
  font-weight: 300;
  font-size: 1em;
}
.user_full_name {
  font-size: 1.2em;
  font-weight: 500;
  color: rgb(68, 68, 68);
}
.user_bio {
  font-weight: 300;
  font-size: 1em;
  color: rgb(100, 100, 100);
  line-height: 1.5em;
}
.profile_posts {
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 10em auto;
  justify-content: center;
  align-items: center;
}
.profile_map_img {
  width: 300px;
  margin: 1em;
  height: 200px;
  object-fit: cover;
}
.links_p_small {
  display: none;
}
.smal {
  display: none;
}
.sd {
  display: none;
}
.logout {
  display: none;
}
@media screen and (max-width: 800px) {
  .profile_map_img {
    width: 200px;
    height: 150px;
    margin: 0.5em;
  }
  .links_p {
    display: none;
  }
  .logout {
    display: block;
    width: 10em;
    height: 2em;
    border: 1px solid lightgray;
    border-radius: 4px;
    margin-top: 1em;
  }

  .links_p_small {
    display: flex;
    align-items: center;
  }
  .aS {
    margin-left: 1em;
    font-size: 1em;
  }
  .smal {
    width: 15em;
    float: right;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
  }
  .profile_d {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 20%;
  }
  .profile_owner_img {
    display: none;
  }
  .edit_profile {
    margin-left: 0;
  }
  .ac {
    display: block;
    width: 5em;
    height: 5em;
  }
  .row_0 {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .settings_profile {
    font-size: 0.8em;
  }
}
@media screen and (max-width: 580px) {
  .profile_d {
    margin: 0 15%;
  }
  .profile_map_img {
    width: 150px;
    height: 100px;
  }
}
@media screen and (max-width: 450px) {
  .profile_d {
    margin: 0 10%;
  }
  .post_length,
  .followers_length,
  .following_length {
    font-size: 0.8em;
  }
  .user_full_name {
    font-size: 0.9em;
    font-weight: 600;
  }
  .user_bio {
    font-size: 0.7em;
    font-weight: 300;
  }
}
@media screen and (max-width: 390px) {
  .ac {
    width: 4em;
    height: 4em;
  }
  .aS {
    font-size: 0.9em;
    margin-left: 0.8em;
  }
  .settings_profile {
    margin-left: 0.5em;
  }
  .profile_map_img {
    width: 100px;
    height: 100px;
  }
  .post_length,
  .followers_length,
  .following_length {
    font-size: 0.7em;
    margin: 0.5em 0.5em;
  }
}
