.signin_container {
  max-width: 600px;
  display: flex;
  margin: 0 auto;
}
.signin_box {
  display: flex;
  flex-direction: column;
  border: 1px solid lightgray;
  margin-top: 2em;
  width: 100%;
  border-radius: 5px;
}
.signin_header {
  text-align: center;
  margin: 1em 0;
}
.signin_error {
  text-align: center;
  color: red;
  width: 100%;
  text-transform: capitalize;
}
.signin_input_boxes {
  display: flex;
  background: #fbfbfb;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.signin_form {
  display: flex;
  flex-direction: column;
}
.signin_input_div {
  display: flex;
  margin: 1em 0;
  width: 100%;
  flex-direction: column;
}
.signin_input {
  width: 100%;
  height: 2em;
  margin-top: 0.5em;
  font-family: "Comfortaa", cursive;
  border-radius: 5px;
  border: 1px solid lightgray;
  outline: none;
  padding: 0 1em;
  font-size: 1.1em;
  font-weight: 300;
  color: rgb(65, 65, 65);
}
.signin_btn {
  margin: 1em auto;
  box-shadow: 0px 0px 15px -9px rgba(0, 0, 0, 0.82);
  width: 13em;
  cursor: pointer;
  height: 2em;
  color: rgb(255, 255, 255);
  background: #429af6;
  border-radius: 5px;
  border: none;
  font-family: "Comfortaa", cursive;
  font-size: 1.1em;
}
.signin_btn:disabled {
  color: rgb(126, 126, 126);
  background: rgb(255, 255, 255);
}
.auth_links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.signin_to_signup {
  color: #000;
  font-weight: 600;
  text-decoration: none;
}
.signin_to_signup:hover {
  text-decoration: underline;
}
.signin_to_forget {
  color: #000;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
}
.signin_to_forget:hover {
  text-decoration: underline;
}
@media screen and (max-width: 470px) {
  .signin_box {
    width: 100%;
    margin: 0;
  }
  .signin_input {
    width: 90%;
  }
  .signin_btn {
    width: 50%;
    margin: 1em 0;
  }
  .signin_to_forget {
    margin: 0;
    padding: 0;
    text-align: left;
  }
}
@media screen and (max-width: 330px) {
  .signup_to_text {
    font-size: 0.9em;
  }
  .signin_input {
    padding: 0 0.5em;
  }
}
