@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");
body {
  margin: 0;
  font-family: "Comfortaa", cursive;
  background-color: #faf8f8;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Comfortaa", cursive;
}
